ion-content.inicio{
    --background:url(../../assets/imgfondo1.jpeg); 
}

.bienvenida{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding: 4px;
    position: relative;
    top: 32vh;
    font-size: 25px;
    color: #F78D90;
    left: 30px;
}.identificador{
    position: relative;
    top: 30vh;
    text-align: center;
    font-size: 20px;
}

.btnDeslog{
    background-color: #F78D90;
    color: white;
    border-radius: 10px;
    width: 30%;
    font-size: 11px;
    float: right;
    margin-top: -30%;
}

.fotoperfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
    position: relative;
    top: -2vh;
    margin-left:30%;
}



//Divs de las opciones botones, CodigoQR y Asistencia

//Codigo QR -----------------------
.content-codigo{
    position: relative;
    top: 18vh;
    color: black;
}.content-codigo h4{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}//--------------------------------

//Asistencia ----------------------
.content-asistencia{
    position: relative;
    top: 20vh;
    color: black;
}.content-asistencia h4{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}//--------------------------------

//Botones
.btnCodigoAsistencia{
    background-color: #F78D90;
    color: white;
    border-radius: 10px;
}
//---------------------------------
