
ion-content.inicio{
    --background:url(../../assets/inicio3.png) no-repeat center ;

}


.btninicio1{
    color: #f5f5f5;
    background-color:#F78D90;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    font-family:'Poppins';
    
}

.btninicio2{
    color: #f5f5f5;
    background-color:#F78D90;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    font-family:'Poppins';
    
}

#container1{
    text-align: center;
    position: relative;
    left: 3px;
    right: 10px;
    top:72%;
}

#container2{
    text-align: center;
    position: relative;
    left: 3px;
    right: 10px;
    top:72%;
}
