ion-content.inicio{
    --background:url(../../assets/imgfondo2.jpeg); 
}
.qr{
    position: relative;
    top: 12vh;
    margin-left:10.5%;

}

.content-qr{
    position:relative;
    top:28vh;
    color: black;
    font-size: .5em;
    text-align: center;
}
.btnqrVolver{
    background-color: #F78D90;
    color: white;
    border-radius: 10px;
}